  .menu{
    background: #3db95b;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding-bottom: 25px;
  }
  .menu-header{/*Barras de Navegación*/
    display: flex;
    justify-content: flex-end;
    padding: 12px;
  }
  .menu-toggle{
    font-size: 25px;
    color: #1d5a27;
    text-decoration: none;
    padding: 50px;
    
  }
 .menu-list li{
 
  
  display: inline-flex;
  overflow: hidden;
  list-style-type: none;
  padding: 14px 16px;
  margin-top: 15px;

  
  
 }
  .menu-list {
    float: right;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
    
  }

  .menu-list li a {
    display: flex; 
    padding: 20px;
    
    color: #e9dddd;
    text-decoration: none;
  
  }
  nav ul li:hover {
    background: #349143;}
#menu div {
  display: none;
  
  
}
.logo{
  display:block;
  float: left;
  max-height: 148px;
  margin-left: 50px;
}

@media screen and (min-width:1019px) {
  .menu-toggle i{
    display: none;
  }
}

@media screen and (max-width:1020px) {
  .menu-list{
    display: none;
  }
.logo{
  position: absolute;
  display: flex;
 margin-left: auto;
min-width: 26%;
min-height: 148px;

}
  
  .menu-toggle{
    display: flex;
    align-items: center;
  }

  .menu-list.open{
    background-color: #44a153;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 148px;
    border-radius: 3px;
    border-color: brown;
  }

 
.menu-toggle.open{
  margin-right: -185px;
  margin-top: -2px;
  
}
}
